body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}
.container{
    display: flex; 
    flex-direction: column; 
    margin: 20px 60px 0px 60px;
}
main{
    margin-top: 60px;
    display: flex;    
    flex-direction: row;
    color: #fff; 
    justify-content: space-between;     
}
main .mockup{    
    width: 50%;    
    display: flex; 
    margin-right: 20px;   
}
main .mockup img{
    width: 100%;
}
main .description{    
    width: 45%;
    max-width: 510px;    
    display: flex;
    flex-direction: column;    
}
main .description h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    font-size: 38px;
}
main .description p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
main .description button{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: none;
    width: 200px;
    height: 60px;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.53);
}
main .description button:hover{
    background-color: hsl(300, 69%, 71%);

}
footer{
    margin-left: 60px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    display: flex;
    align-items: baseline;    
}
footer .attribution { 
    font-size: 13px; 
    text-align: center; 
}
footer .attribution a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-decoration: none;
     color: hsl(300, 69%, 71%); 
}
.social{
    display: flex;    
    justify-content: flex-end;                
}

.social a{      
    color: #fff;
    text-decoration: none;
    font-size: 20px; 
    margin-left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #fff solid 2px;
    border-radius: 50px;   
}
.social a:hover{
    border: hsl(300, 69%, 71%) solid 2px;
    color: hsl(300, 69%, 71%);
}
@media (max-width:1000px){

    main .description{
        width: 400px;              
    }
    main .description h1{
        font-size: 28px;
    }
    main .description p{
        margin-top: 5px;
        font-size: 15px;
    }
    main .mockup{
        width: 400px;        
    }
    main .description button{
        margin-top: 10px;
        font-size: 15px;
        width: 150px;
        height: 40px;
    }
    .social{
        margin-top: 10px;
    }
}
